<div class="center hero-unit">
  <h1>Вас приветствует Lead Magnet!</h1>

  <h2>
    Конструктор лидогенерации, который за счет системного и поэтапного подхода - формулы лидогенерации, помогает
    выстроить стабильную маркетинговую связку . За счет прохождения Вами ключевых модулей, их заполнения и внедрения.
  </h2>

  <%= link_to image_tag("logo.png", alt: "LeadMagnet"), 'https://vk.com/babenkoya' %>
  <h2></h2>
  <%= link_to "Зарегистрироваться", signup_path, class: "btn btn-large btn-primary" %>
</div>

