<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="micropost_form">
      <%= render 'shared/product_form' %>
    </section>
  </aside>

  <div class="col-md-9">
    <h3>Мои проекты (<%= current_user.products.count %>) </h3>

    <%= render 'shared/product_feed' %>
  </div>
</div>
