<%= form_for(@product) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="field"><%= f.text_area :name, placeholder: "Введите название проекта" %></div>


    <%= f.submit "Добавить проект", class: "btn btn-primary" %>
<% end %>