<footer class="footer">
  <small>
    Lead Magnet
  </small>
  <nav>
    <ul>
      <li><%= link_to "О нас",   about_path %></li>
      <li><%= link_to "Наши контакты", contact_path %></li>
      <li><a href="https://vk.com/babenkoya">Наши новости</a></li>
    </ul>
  </nav>
</footer>